
*{font-family: Georgia;}

body {
    margin: 0;
    height: 100%;
    
}

.logotop {
    width: 1200px; 
    margin: 0 360px 0 360px;
}

.logo {
    width: 258px;
    height: 61px;
    margin-top: 40px;
}

.social {
    float: right;
    margin-top: 57px;
}


a img{
    margin: 0 0 0 5px;
    width:40px;
    height: 43px;
}


.nav-triangle {
    top: 152px;
    height: 70px;
    width: 100%;   
    position: fixed;
    z-index: 9999;
    background-color: #062AA2;
  }

nav ul{
    float:left;
    margin: 20px 0 0 360px;
    padding: 0;
}
nav li {
    display: inline-block;
    padding: 0 10px 0 0;
}
  
nav a {
    
    color: #FFFFFF;
    font-size: 17px;
    border: 1px solid transparent;
    text-transform: uppercase;
    padding: 0;
    text-decoration:none;
}

a.link,a:hover {
    /* border: 1px solid black; */
    font-weight: bold;
    transition: .5s;
}

nav #icon {
    color: white;
    font-size: 30px;
    line-height: 75px;
    float: right;
    margin-right: 40px;
    margin-right:40px;
    cursor: pointer; 
    display: none;
}


.home-layout4 {
    position: relative;
    top: 170px;
    left: 360px;
    width: 1200px;
    height: 100%;
    
    /* border: 1px solid black; */
}

.row1 {
    display : flex;
    flex-direction : row;
    width: 100%;
    height: 451px;
    margin-bottom: 30px;
    /* border: 1px solid black; */
}

.service-text-content-odd {
    position: relative;
    top: 64px;;
    width: 586px;
    height: 323px;
    box-shadow: 12px 12px 6px #00000029;
}



.service-title1 {
    position: relative;
    left: 168px;
    width: 230px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    border-bottom: 5px solid #707070;
    border-radius: 50px;
    text-transform: uppercase;
    margin: 0;
    
}
.service-text1 {
    color: #000000;
    font-size: 16px;
    text-align: left;
    text-transform: capitalize;
    margin: 30px;
}

.service-img1-odd {
    position: relative;
    left: 260px;
    width: 350px;
    height: 451px;
    /* border: 1px solid black; */
}

.service-img1-sizing {
    width: 100%;
    height: 100%;
    border-radius: 45px;
}

.service-text-content-even {
    position: relative;
    left: 600px;
    top: 64px;;
    width: 586px;
    height: 323px;
    box-shadow: 12px 12px 6px #00000029;
}

.service-img1-even {
    position: absolute;
    width: 350px;
    height: 451px;
    /* border: 1px solid black; */
}

.service-btn {
    position: absolute;
    background-color: #062AA2;
    color: #FFFFFF;
    width: 347px;
    height: 80px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    right: 0;
    text-transform: uppercase;
    margin: 0; 
    cursor: pointer; 
    
}

.blog-row {
    position: relative;
    top: 260px;
    width: 1200px;
    left: 360px;
    height: 450px;
    margin: 0;
    border: 1px solid black;
    /* border: 1px solid black; */
}
.line {
    position: relative;
    left: 0;
    width: 50%;
    height: 5px;
    border-radius: 30px;
    background-color: #707070;
    
}
.text-blog {
    position: relative;
    top: 10px;
    left: 0;
}
.blog {
    position: relative;
    top: 30px;
    left: 0;
    width: 350px;
    height: 300px;
    /* border: 1px solid black; */
    display: inline-block;
    margin-right: 45px;
    border-radius: 45px;
    
    
}


.blog-img-link {
    border-radius: 45px;
    width: 100%;
    height: 300px;
    margin: 0;
}

 .container  {    
    position: absolute;
    top: 220px;
    width: 100%;
    height: 80px;
    border-radius: 45px;
    backdrop-filter: blur(35px);
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    line-height: 2.8; 
    
}
.home-layout5 {
    position: relative;
    top: 220px;
    height: 475px;
    width: 100%;
    margin: 50px 0 0 0;
    /* border: 1px solid black;*/
   
    background-color: #062AA2;
}

.nav-subscribe {
    position: absolute;
    /* border: 1px solid black; */
    width: 1073px;
    height: 80px;
    margin: 5px 0 0 360px;
}

.nav-label {
    font-size:24px ;
    color: #FFFFFF;
}

.nav-input {
    width: 641px;
    height: 64px;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-size: 24px;
}

.nav-btn {
    position: absolute;
    background-color: #062AA2;
    color: #FFFFFF;
    width: 223px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    right: 0;
    text-transform: uppercase;
    margin:10px 25px 15px ; 
    cursor: pointer;
}

.nav-all {
    
    margin: 100px 360px 0 360px;
    width: 1200px;
   
}

.nav {
    margin-top: 100px;
   width: 250px;
   height: 250px;  
   display: inline-block;
}

.content {
    display: table;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: normal;
    padding: 10px;
}

.nav-img {
 text-align: center; 
}

.nav-social {
    position: absolute;
    top: 300px;
    margin: 0 800px 0 530px;
}

.nav-logo {
    position: relative;
    float: right;
    top: 200px;
}

.nav-logo-img { 
    display: table;
    width: 258px;
    height: 61px;
    margin-bottom:20px ;
}

.nav-text {
    font-size: 14px;
    color: #FFFFFF;
}


@media screen and (max-width: 1300px){
    
   

    .logotop {
        
        margin: 10px 10px 10px 10px;
        display: inline;
        width: 390px;
        height: 250px;
    }
    
    .logo {
        position: absolute;
        width: 181px;
        height: 42px;
        margin-top: 10px;
        left: 20px; 
    }
    
    .social {
        position: absolute;
        top: 10px;
        left: 20px;   
    }
    
    a img{
        margin: 0 0 0 5px;
        width:40px;
        height: 43px;
    }

    .nav-triangle {
        top: 120px;
        height: 70px;
        width: 100%;   
        position: fixed;
        z-index: 9999;
        background-color: #062AA2;
    }

    nav #icon {
        display: block;
        float: right;
    }

    nav ul {
        position: fixed;
        width: 300px;
        height: 500px;
        background: #062AA2;
        top: 135px;
        right: 80px;
        text-align: center;
        transition: all .6s;
        border-radius: 25px;
    }

    nav li {
        display: block;
        margin:  50px 0;
        line-height: 35px;
    }

    nav a {
        font-size: 20px;
    }

    a.active, a:hover {
        border: none;
        color: black;
    }

    nav ul.view{
        right:  -100%;
    }
    
    
    .home-layout4 {
        left: 10px;
        width: 98%;
    }
    .row1 {
        position: relative;
        width: 97%;
        left: 1.5%;
    }
    .blog-row {
        width: 100%;
        left: 10px;
        height: 430px;
        /* border: 1px solid black; */
    }
    .service-btn {
        right: 20px;
    }
    .home-layout5 {
        top:  300px;
        height: 550px;
        width: 100%;
        margin: 0;
        /* border: 1px solid black;*/
    }
    
    .nav-subscribe {
        position: relative;
        width: 100%;
        height: 160px;
        margin: 0;
        /* border: 1px solid black; */
    }
    
    .nav-label {
        position: absolute;
        font-size:20px ;
        color: #FFFFFF;
        /* border: 1px solid black; */
    }
    
    .nav-input {
        position: absolute;
        width: 90%;
        top: 30px;
        height: 64px;
        background-color: #FFFFFF;
        border-radius: 10px;
        font-size: 24px;
        /* border: 1px solid black; */
    }
    
    .nav-btn {
        position: absolute;
        top: 100px;
        background-color: black;
        color: #FFFFFF;
        width: 223px;
        height: 50px;
        font-size: 20px;
        text-align: center;
        border-radius: 10px;
        float: right;
        text-transform: uppercase;
        margin-right:10px ;
        cursor: pointer;
        /* border: 1px solid black; */
    }
    .nav-all {
        
        margin: 0;
        width: 100%;
    }
    
    .nav {
        position: relative;
        top: 40px;
        width: 115px;
        height: 250px;  
        display: inline-block;
        margin: 5px;
       /* border: 1px solid black; */
       
    }
    
    .content {
        display: table;
        font-size: 15px;
        padding: 10px;
        
    }
    
    
    .nav-social img {
        width: 30px;
        height: 30px;
    }
    
    .nav-social {
        position: absolute;
        width:120px ;
        top: 450px;
        left: 230px;
        margin: 0;
        /* border: 1px solid black; */
    }

    .nav-logo {
        position: absolute;
        float: left;
        top: 450px;
        left: 20px;
        
        
    }
    
    .nav-logo-img {  
          
        width: 200px;
        height: 61px;
        margin-bottom:5px ;
       }
       
    .nav-text {
        font-size: 10px;
       }
}

@media screen and (max-width: 900px) {
    .home-layout4 {
        top: 185px;
        left: 10px;
        width: 97%;
    }
    .row1 {
        position: relative;
        width: 97%;
        left: 1.5%;
        
    }

    .service-text-content-odd {
        height: 380px;
        width: 60%;
        
    }
    .service-title1 {
        width: 100%;
        border: none;
        left: 0;
        

    }
    .service-img1-odd {    
        left: 40px;
        width: 35%;
   }

    .service-text-content-even {
        height: 380px;
        width: 60%;
        left: 40%;
        margin: 0;
    }

    .service-img1-even {
        width: 35%;
    }

    .blog-row {
        top: 280px;
        width: 97%;
        left: 10px;
        height:370px;
        /* border: 1px solid black; */
    }
    .container {
        width: 100%;
        top: 155px;
        
    }
    .blog-img-link {
        width: 100%;
        height: 100%;
    }
    
    .blog {
        width: 350px;
        height: 250px;
        margin-right: 15px;
    }
   .blog-hide {
        display: none;
    }
   

   
}
@media screen and (max-width: 600px) {
    .nav-triangle {
        
        width: 20%;
        left: 77%;
        right: 3%;   
        border-radius: 25px;
    }

    i {
        position: relative;
        left: 50%;
    }
    .home-layout4 {
        top: 180px;
        left: 10px;
        height: 2760px;
        width: 96%;
        margin: 0;
        /* border: 1px solid black;*/
    }

    .row1 {
        height: 100%;
        width: 100%;
        display: inline;
        left: 0;
        margin: 0;
        
    }
    .row2 {
        top: 350px;
    }

    .service-text-content-odd {
        
        top: 0;
        width: 90%;
        
        height: 370px;
        
    }

    .service-text1 {
        margin: 10px;
        font-size: 15px;
    }
    .service-img1-odd {
        top: 20px;
        width: 90%;
        height: 250px;
        left: 10px;
    }

    .service-text-content-even {
        top: 50px;
        width: 90%;
        left: 0;
        height: 370px;
        
    }

    
    .service-img1-even {
        top: 440px;
        width: 90%;
        height: 250px;
        left: 10px;
    }
    .service-btn {
        position: relative;
        top: 700px;
        left: 9%;
        width: 300px;
    }
    .blog-row {
        
        top: 200px;
        margin-top: 0;
        width: 97%;
        left: 10px;
        height:300px;
        /* border: 1px solid black; */
    }
    .line {
        width: 60%;
    }
    .container {
        width: 100%;
        height: 40px;
        top: 120px;
        padding-top: 10px;
        font-size: 15px;
        line-height: 1.0;
    }
    .blog-img-link {
        width: 100%;
        height: 100%;
    }
    
    .blog {
        
        width: 160px;
        height: 180px;
        margin-right: 10px;
    }
   .blog-hide {
        display: none;
    }
    .home-layout5 {
        
       top: 210px;
    }
    
}

@media screen and (max-width: 380px) {
    
    
    
    .add1 {
        width: 100%;
    }
    .img-story {
        top: 15px;
        width: 97%;
        margin: 0;
    }
    .nav {
        width: 100px; 
    }
}